@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Home Page";
    var postcounter =0;
}

    <br>
    @foreach (var item in Model)
    {
       postcounter+=1;
    <div class="container">
    <div class="homefeed">
		<h2>@item.Name</h2>
		<h6>@item.DateOfCreation</h6> <br/>
		  <h4 style=''>@item.Recipe_Ingreadiants</h4>
		  <div id="wrapper"><p>@item.Discription</p></div><br/>
          @if (@item.link.Length != "https://www.youtube.com/embed/.".Length)
          {<div class="iframe-container">
         <iframe width="65%" height="100%" src="@item.link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
          </div>
          }
		  </div>
      @if (postcounter == 3){
          <div class="AdInFeed" > <h2 class="text-danger">AD goes here</h2></div>
      }
       <div class="AdLeft"></div>
    <div class="AdRight"></div>
      </div>
    }


   
    