@model Recipe



<h1 class="text-primary">@Model.Name</h1>
<br>

<h3>Ingreadiants</h3>
<br>

<div style="display:flex ; flex-flow: row wrap;border-top: 1px black solid;">

@for(int i =0 ,j=0; i<Model.Recipe_Ingreadiants.Count;j++, i++){
  <div style="width:15% ; margin:2%; border: 1px gray solid; padding: 1%">
    <p style="border-bottom: 1px gray solid;">@Model.Recipe_Ingreadiants[i].IngreadiantName</p>
    <p>@Model.Recipe_Ingreadiants[i].amount</p>
    <img src="" alt="">
</div>  
    @if(j==5){
        <br>
    }
}
</div>

<br>
<h3>Discription</h3>
<br>
<p>@Model.Discription</p>



@if (@Model.link.Length != "https://www.youtube.com/embed/.".Length)
    {
    <iframe width="560" height="315" src= @Model.link title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br> 
        }


