@model Recipe

<form method="Post" asp-action="Edite">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> وصفة تعديل</h2>
            <hr />
        </div>
        <div class="mb-3" >
            <label asp-for="Name">الإسم</label>
            <input type="text" asp-for="Name"  class="form-control" required/>
        </div>
         <div class="mb-3" style="position: relative;" >
                <table class="table" style="width: 70%;" id="myTable">
                        <tr>
                            <th scope="col">مكون</th>
                            <th scope="col">اكمية</th>
                        </tr>
                        
                            @for (int i = 0,j=1;  i < Model.Recipe_Ingreadiants.Count; i++)
                                
                                {
                                    @if(@Model.Recipe_Ingreadiants[i].IngreadiantName==null){
                                    <tr scope="row" id="@j" style="display: none;">
                                  <td > <input id="-@j" asp-for="@Model.Recipe_Ingreadiants[i].IngreadiantName " /> </td>    
                                  <td > <input asp-for="@Model.Recipe_Ingreadiants[i].amount" /> </td>   
                                  </tr>
                                      }
                                      @if(@Model.Recipe_Ingreadiants[i].IngreadiantName==null){
                                             j=j+1;
                                      }else{
                                     
                                <tr scope="row">
                                  <td> <input asp-for="@Model.Recipe_Ingreadiants[i].IngreadiantName "/> </td>    
                                  <td> <input asp-for="@Model.Recipe_Ingreadiants[i].amount"/> </td>   
                                  </tr>     
                                }
                                }
                                    <div class="containerr">

            <button type="button" class="click">اختر</button>

            <div class="list">
                @foreach (var item in @Model.AllIngs)
                {
                   <button type="button" class="links" onclick="choose('@item.Name')">@item.Name</button> 
                }
                

            </div>

                </table>
                <button type="button" class="btn btn-primary" id="new" onclick="MoreRows()">new</button>
        </div>
        <div class="mb-3" >
            <label asp-for="Discription">الوصفة</label>
            <input type="text" asp-for="Discription"  class="form-control"/>
        </div>
        <div class="mb-3" >
            <label asp-for="link">رابط الفيدو</label>
            <input type="text" asp-for="link"  class="form-control"/>
        </div>
        <button type="submit" id="sub" class="btn btn-primary" style="width: 150px;">تعديل</button>
        <a asp-controller="Recipe" asp-action="IndexRecipe" class="btn btn-secondary" style="width: 150px ;">رجوع</a>
    </div>
</form>

<script>
    var count=1;
function MoreRows(){
            document.getElementById(count).style.display="block";
            count++;
    }


    let click = document.querySelector('.click');
let list = document.querySelector('.list');
click.addEventListener("click",()=>{
list.classList.toggle('newlist');
});

function choose(x){
console.log(x);
document.getElementById(-count).setAttribute('value', x);
MoreRows();
}
</script> 

