@model Recipe

<form method="Post" asp-action="Edite">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edite Recipe</h2>
            <hr />
        </div>
        <div class="mb-3" >
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name"  class="form-control" required/>
        </div>
         <div class="mb-3" >
                <table class="table" style="width: 70%;" id="myTable">
                        <tr>
                            <th scope="col">Ingreadiant</th>
                            <th scope="col">quantity</th>
                        </tr>
                        
                            @for (int i = 0,j=0;  i < Model.Recipe_Ingreadiants.Count; i++)
                                
                                {
                                    @if(@Model.Recipe_Ingreadiants[i].IngreadiantName==null){
                                    <tr scope="row" id="@j" style="display: none;">
                                  <td > <input asp-for="@Model.Recipe_Ingreadiants[i].IngreadiantName " /> </td>    
                                  <td > <input asp-for="@Model.Recipe_Ingreadiants[i].amount" /> </td>   
                                  </tr>
                                      }
                                      @if(@Model.Recipe_Ingreadiants[i].IngreadiantName==null){
                                             j=j+1;
                                      }else{
                                     
                                <tr scope="row">
                                  <td> <input asp-for="@Model.Recipe_Ingreadiants[i].IngreadiantName "/> </td>    
                                  <td> <input asp-for="@Model.Recipe_Ingreadiants[i].amount"/> </td>   
                                  </tr>     
                                }
                                }
                        
                </table>
                <button type="button" class="btn btn-primary" id="new" onclick="MoreRows()">new</button>
        </div>
        <div class="mb-3" >
            <label asp-for="Discription"></label>
            <input type="text" asp-for="Discription"  class="form-control"/>
        </div>
        <div class="mb-3" >
            <label asp-for="link"></label>
            <input type="text" asp-for="link"  class="form-control"/>
        </div>
        <button type="submit" id="sub" class="btn btn-primary" style="width: 150px;">Edite</button>
        <a asp-controller="Recipe" asp-action="IndexRecipe" class="btn btn-secondary" style="width: 150px ;">Back</a>
    </div>
</form>

<script>
    var count=0;
function MoreRows(){
            document.getElementById(count).style.display="block";
            count++;
    }
</script> 

